<footer>
    <div class="container">
        <div class="row">
            <div class="span3">
                <img src="images/logo-small.png" alt=""><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.
            </div>

            <div class="span3">
                <div class="widget widget_recent_post">
                    <h3>Recent Post</h3>
                    <ul>
                        <li><a href="#">Sed ut perspiciatis unde omnis</a></li>
                        <li><a href="#">Duis aute irure dolor in</a></li>
                        <li><a href="#">Excepteur sint occaecat cupidatat </a></li>
                        <li><a href="#">Nemo enim ipsam voluptatem quia  </a></li>
                        <li><a href="#">Quis autem vel eum iure</a></li>
                    </ul>
                </div>
            </div>

            <div class="span3">
                <div class="widget widget_tags">
                    <h3>Tags</h3>
                    <ul>
                        <li><a href="#link">Art</a></li>
                        <li><a href="#link">Application</a></li>
                        <li><a href="#link">Design</a></li>
                        <li><a href="#link">Entertainment</a></li>
                        <li><a href="#link">Internet</a></li>
                        <li><a href="#link">Marketing</a></li>
                        <li><a href="#link">Music</a></li>
                        <li><a href="#link">Print</a></li>
                        <li><a href="#link">Programming</a></li>
                    </ul>
                </div>
            </div>

            <div class="span3">
                <h3>Contact Us</h3>
                <div class="widget widget-address">
                    <address>
                        100 Mainstreet Center, Sydney
                        <span><strong>Phone:</strong>(208) 333 9296</span>
                        <span><strong>Fax:</strong>(208) 333 9298</span>
                        <span><strong>Email:</strong><a href="mailto:contact@example.com">contact@example.com</a></span>
                        <span><strong>Web:</strong><a href="#test">http://example.com</a></span>
                    </address>
                </div>
            </div>
        </div>
    </div>

    <div class="subfooter">
        <div class="container">
            <div class="row">
                <div class="span6">
                    &copy; Copyright 2013 - Inspira by Designesia
                </div>
                <div class="span6">
                    <nav>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Features</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

</footer>