<header>
    <div class="info">
        <div class="container">
            <div class="row">
                <div class="col-md-6 info-text">
                    <strong>Phone:</strong> (208) 333 9296 <span class="separator"></span><strong>Email:</strong> <a href="#">contact@example.com</a>
                </div>
                <div class="col-md-6 text-right">
                    <div class="social-icons">
                        <a class="social-icon sb-icon-facebook" href="#"></a>
                        <a class="social-icon sb-icon-twitter" href="#"></a>
                        <a class="social-icon sb-icon-rss" href="#"></a>
                        <a class="social-icon sb-icon-dribbble" href="#"></a>
                        <a class="social-icon sb-icon-linkedin" href="#"></a>
                        <a class="social-icon sb-icon-flickr" href="#"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="logo">
            <div class="inner">
                <a href="index.html">
                    <img src="images/logo.png" alt="logo"></a>
            </div>
        </div>

        {{ partial:nav }}

    </div>
</header>