
<div id="wrapper">
    
    {{partial:topSliding}}
        <!-- header begin -->
        {{ partial:header }}
        <!-- header close -->

        {{ partial:slider }}

        <!-- call to action -->
        <div class="call-to-action">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <h3>Inspira is your bussines solutions. Made with famous <span class="id-color">Bootstrap</span> framework.</h3>
                    </div>
                    <div class="col-3">
                        <a href="#" class="btn btn-extra-large btn-primary">Get This Now!</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- call to action close -->


        <!-- content begin -->
        <div id="content" class="no-bottom">
            <div class="container">
                <div class="row">
                    <div class="span8">
                        <div class="row">
                            <!-- feature box begin -->
                            <div class="feature-box-small-icon span4">
                                <div class="inner">
                                    <i class="icon-twitter circle"></i>
                                    <div class="text">
                                        <h3>Twitter Bootstrap</h3>
                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.
                                        <a href="#">Read more →</a></div>
                                </div>
                            </div>
                            <!-- feature box close -->

                            <!-- feature box begin -->
                            <div class="feature-box-small-icon span4">
                                <div class="inner">
                                    <i class="icon-mail-forward circle"></i>
                                    <div class="text">
                                        <h3>Revolution Slider</h3>
                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.
                                        <a href="#">Read more →</a></div>
                                </div>
                            </div>
                            <!-- feature box close -->

                            <hr class="blank">

                            <!-- feature box begin -->
                            <!-- feature box close -->

                            <!-- feature box begin -->
                            <!-- feature box close -->


                        </div>
                    </div>

                    <div class="span4">
                        <div class="de_testi">
                            <blockquote>
                                <p>Again, great template and I love that it works on the computer, iPad, phone, etc. Very clean design, keep up the great work!. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </blockquote>
                            <div class="de_testi_by">
                                <div class="de_testi_pic">
                                    <img src="images/testi_pic%20(2).jpg" alt="" class="img-circle">
                                </div>
                                <div class="de_testi_company">
                                    <strong>Katty Wilson</strong>, Microsoft
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <hr/>

    {{ partial:Project }}

    {{ partial:parallaxContent }}

    {{ partial:latestNews }}

    {{ partial:serviceBox }}   

                </div>

                <hr class="blank">
    {{ partial:logoCarousel }}
            </div>
    <!-- Small Slider  -->

    {{  partial:sliderSmall }}

    <!-- Small Slider Close -->
        </div>
        <!-- content close -->

        <!-- footer begin -->
        {{ partial:footer }}
        <!-- footer close -->

    </div>