<div class="container">
    <div class="row">
        <div class="span6">
            <h3>Latest News</h3>
            <ul class="bloglist-small">
                <li>
                    <div class="date-box">
                        <span class="day">28</span>
                        <span class="month">SEP</span>
                    </div>
                    <div class="txt">
                        <h5><a href="css/#">Lorem ipsum sit amet</a></h5>
                        <span class="read">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem</span>
                        <span class="info">Sept 23, 2013 | <a href="css/#">Read More</a></span>
                    </div>
                </li>
                <li>
                    <div class="date-box">
                        <span class="day">24</span>
                        <span class="month">SEP</span>
                    </div>
                    <div class="txt">
                        <h5><a href="css/#">Lorem ipsum sit amet</a></h5>
                        <span class="read">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem</span>
                        <span class="info">Sept 23, 2013 | <a href="css/#">Read More</a></span>
                    </div>
                </li>
                <li>
                    <div class="date-box">
                        <span class="day">20</span>
                        <span class="month">SEP</span>
                    </div>
                    <div class="txt">
                        <h5><a href="css/#">Lorem ipsum sit amet</a></h5>
                        <span class="read">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem</span>
                        <span class="info">Sept 23, 2013 | <a href="css/#">Read More</a></span>
                    </div>
                </li>
            </ul>
        </div>
