 <!-- top sliding-bar begin  -->
 <div id="sliding-bar">
    <div class="sliding-content">
        <div class="container">
            <div class="row">
                <div class="span3">
                    <h4>New Sliding Bar!</h4>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>

                <div class="span3">
                    <div class="widget widget_recent_post">
                        <h4>Recent Post</h4>
                        <ul>
                            <li><a href="#">Sed ut perspiciatis unde omnis</a></li>
                            <li><a href="#">Duis aute irure dolor in</a></li>
                            <li><a href="#">Excepteur sint occaecat cupidatat </a></li>
                            <li><a href="#">Nemo enim ipsam voluptatem quia  </a></li>
                        </ul>
                    </div>
                </div>

                <div class="span3">
                    <div class="widget widget_tags">
                        <h4>Tags</h4>
                        <ul>
                            <li><a href="#link">Art</a></li>
                            <li><a href="#link">Application</a></li>
                            <li><a href="#link">Design</a></li>
                            <li><a href="#link">Entertainment</a></li>
                            <li><a href="#link">Internet</a></li>
                            <li><a href="#link">Marketing</a></li>
                            <li><a href="#link">Music</a></li>
                            <li><a href="#link">Print</a></li>
                            <li><a href="#link">Programming</a></li>
                        </ul>
                    </div>
                </div>

                <div class="span3">
                    <h4>Contact Us</h4>
                    <div class="widget widget-address">
                        <address>
                        100 Mainstreet Center, Sydney
                        <span><strong>Phone:</strong>(208) 333 9296</span>
                        <span><strong>Fax:</strong>(208) 333 9298</span>
                        <span><strong>Email:</strong><a href="mailto:contact@example.com">contact@example.com</a></span>
                        <span><strong>Web:</strong><a href="#test">http://example.com</a></span>
                    </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sliding-toggle"></div>
</div>
<!-- top sliding-bar close  -->